<body>
<div class="container-fluid bg-3 text-center"> 
  <h3>What I enjoy to do...</h3>

<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.jtawellness.com/wp-content/uploads/2016/04/Sleeping-Man.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Sleep</h2>
          <p>Sleeping gives me the energy to go to school and perform.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://swimmunity.files.wordpress.com/2012/06/0467648.jpg" alt="swim" width="140" height="140">
          <h2>Swim</h2>
          <p>Swimming to me is a way to feel free and in the water you feel as if you are weightless.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://mydailymix.eu/wp-content/uploads/2015/06/i_love_video_games_by_cocodie-d5aokgg.jpg" alt="video games" width="140" height="140">
          <h2>Play video games</h2>
          <p>Playing a video game is like living life through someone elses life and experiences.</p>
          
        </div><!-- /.col-lg-4 -->
      </div>
<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.rvia.org/images/gallery/large/Family%20With%20Fifth%20Wheel%20Print.jpg" alt="camping" width="140" height="140">
          <h2>Go camping</h2>
          <p>I have been camping for about 13 years now. You learn a lot about yourself out there.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://images.medicaldaily.com/sites/medicaldaily.com/files/2014/03/11/listening-music_0.jpg" alt="music" width="140" height="140">
          <h2>Listen to music</h2>
          <p>Listening to music really puts me in the mood for anything.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://www.daf.qld.gov.au/__data/assets/image/0007/129742/Fisherman-fishing-at-sunset-.jpg" alt="fishing" width="140" height="140">
          <h2>Go fishing</h2>
          <p>Fishing has given me the patience that I have today, it is really nice just to relax and fish.</p>
          
        </div><!-- /.col-lg-4 -->
      </div>