<div class="jumbotron">
      <div class="container">
        <h1>Hello, viewers!</h1>
        <p>This is my web page that I am making for Web design class. The following web pages are based on me and the things I enjoy doing and the sports that I like to play. </p>
        <p><a class="btn btn-primary" href="/personal" role="button">About me</a></p>      
      </div>
</div>

        

