
<div class="container marketing">
  <div class="row">
        <div class="col-lg-6">
        <div>
          <%= image_tag "selfie.jpg", size:"250", class:"image-circle" %>
        </div>
          <h2>Joshua Vargas</h2>
          <p>I am a junior at mather high school. This year I was put into Web 1. For the end of the quarter we were given an assignment to create a web site about ourselves. </p>
      
          <h3>Little more about me</h3>
          <ul>
            <li>Favorite colors: Black, red, & aqua</li>
            <li>Zodiac sign: Capricorn (Born year of the tiger)</li>
            <li>Middle name: Gus</li>
            <li>I am left handed</li>
            <li>Favorite animals: Tigers, dogs, fish, & pandas</li>
          </ul>
          <p><a class="btn btn-primary" href="/sports" role="button">View Sports</a></p>
</div>
